# General
DEBUG=false
LOG_LEVEL=INFO

# Database
DATABASE_URL=postgresql+asyncpg://kirov:kirov@localhost:5432/kirov_osint

# Collector Keys
COLLECTOR_API_KEY=
DARK_WEB_CREDENTIALS_PATH=

# Shodan
SHODAN_API_KEY=

# VirusTotal
VIRUSTOTAL_API_KEY=

# NLP
NLP_MODEL_PATH=analyzer/nlp/models
